html, body {
  height: 70%;
  margin: 5%;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatbot-container {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#chatbot-header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 0 20px;
  box-sizing: border-box;
}

#chatbot-header img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#chatbot-messages {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.chatbot-message {
  max-width: 60%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  background-color: white;
  font-size: 16px;
  color: #333;
}

.chatbot-message:last-child {
  margin-bottom: 0;
}

.user-message {
  max-width: 60%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

.user-message:last-child {
  margin-bottom: 0;
}

#chatbot-input-container {
  display: flex;
  align-items: center;
  background-color: white;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
}

#chatbot-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #f4f4f4;
}

#chatbot-send {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 20px;
}

#clear-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

#clear-button:hover {
  background-color: #3e8e41;
}

#chatbot-send:hover {
  background-color: #3e8e41;
}

@media only screen and (max-width: 768px) {
  #chatbot-messages {
    max-height: 60vh;
  }
  
  .chatbot-message, .user-message {
    max-width
    word-wrap: break-word;
    white-space: pre-wrap;
}